@import "../../common/courses/courses.component.scss";
@import "../../common/instructor/instructor.component.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }@keyframes lights {
    0% {
      color: hsl(230, 40%, 40%);
      text-shadow:
        0 0 1em hsla(320, 100%, 30%, 0.2),
        0 0 0.125em hsla(320, 100%, 40%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 40%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 40%, 0);
    }
  
    30% {
      color: hsl(230, 80%, 50%);
      text-shadow:
        0 0 1em hsla(320, 100%, 40%, 0.5),
        0 0 0.125em hsla(320, 100%, 50%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 50%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 50%, 0.4);
    }
  
    40% {
      color: hsl(230, 100%, 55%);
      text-shadow:
        0 0 1em hsla(320, 100%, 40%, 0.5),
        0 0 0.125em hsla(320, 100%, 80%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 50%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 50%, 0.4);
    }
  
    70% {
      color: hsl(230, 80%, 50%);
      text-shadow:
        0 0 1em hsla(320, 100%, 40%, 0.5),
        0 0 0.125em hsla(320, 100%, 50%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 50%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 50%, 0.4);
    }
  
    100% {
      color: hsl(230, 40%, 40%);
      text-shadow:
        0 0 1em hsla(320, 100%, 30%, 0.2),
        0 0 0.125em hsla(320, 100%, 40%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 40%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 40%, 0);
    }
  }
  
.page-title-content{
    margin-top: 0;
    text-align: center;}
    .page-title-content h2{
        
        margin: auto;
        font-size: 3.5rem;
        font-weight: 300;
        animation: lights 5s 750ms linear infinite;
    }


@-webkit-keyframes glow {
    from {
     color: #fff;
   text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
 }
 
 to {
    color: gray;
   text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
 }
}
.coach-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
    max-width: 100%;
    box-sizing: border-box; 

    transition: transform 0.3s ease-in-out;
}

.coach-card:hover {
    transform: scale(1.05);
    border: 1px solid transparent; 

}

.profile-image-container {
    width: 150px;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.profile-details {
    flex: 1;
    padding: 20px;
}

.coach-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.coach-description {
    color: #555;
    margin-bottom: 15px;
}

.coach-specialty {
    font-style: italic;
    color: #888;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    margin-bottom: 15px;
}

.social-icon {
    color: #555;
    font-size: 1.5rem;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #457fb4;
}

.contact-btn {
    background-color: #457fb4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.contact-btn:hover {
    background-color: #345a7e;
}

body{
  background: #edf5fa;
  margin:25px;
  font-family: 'Nunito', sans-serif;
}
.success.intro{
    font-size : 10px !important;
}

.container{
  display:block;
  width: 100%;
  max-width:800px;
  margin:auto;
  border-radius: 3px;
  position: relative;
  background:white;
  box-shadow: 10px 10px 100px 0 darken(#edf5fa,5);
}

h2{
   
  padding:0%;
  margin: left 25px;
  border-bottom:1px solid rgba(black, 0.1);
  font-size:1.1em;
  
 
}
  
@mixin statuses(){
  &.success::backdrop{
    color:#9cc320;
    content:"\f030";
  }

  &.warning:before{
    color:#ffa50a;
    content:"\f06a";
  }

  &.failure:before{
    color:#da281e;
    content:"\f057";
  }
}

details {
  width: 100%;
  overflow:hidden;
  border-bottom:1px solid rgba(black, 0.1);
  
  
  &:last-of-type{border-bottom:none}
  
  summary{
    display:block;
    user-select: none;
    outline:none;
    padding:0px;
    padding-top: 0%;
    margin-bottom:0px;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-property: margin, background;
    font-weight:600;
    border-bottom:1px solid rgba(black, 0.1);
    
    &:last-of-type{border-bottom:none}

    &::-webkit-details-marker { display:none }
    
    &:before{
      font: normal normal normal 1em/1 FontAwesome;
      font-weight: 900;
      content:'';
      margin-right:0.5em;
      vertical-align: middle; 
    }

    &:hover{
      background:white;
      cursor:pointer;
    }
    
    @include statuses();
  }

  ul{
    padding:0;
    margin-left:1em;
    
    li{
      list-style:none;
      padding:1em 1em 1em 3em;
      font-weight:bold;
      position:relative;
      
      &:before{
        position:absolute;
        top:0;left:0;
        display:block;
        float:left;
        content:'';
        width:0em;
        height:1.5em;
        border-left:1px solid #ccc;
        border-bottom:1px solid #ccc;
      }
      
      &:after{
        position:absolute;
        top:0;left:0;
        display:block;
        float:left;
        content:'';
        width:1em;
        height:100%;
        border-left:1px solid #ccc;
      }
      
      &:last-child:after{display:none;}
      
      div{
        opacity:0;
        
        &:before{
          font: normal normal normal 1em/1 FontAwesome;
          font-weight: 900;
          position:absolute;
          top:1em;left:1em;
          padding:0 0.5em;
          display:block;
          float:left;
          content:"";
          width:1em;
          height:100%;
        }
        
        @include statuses();
      }
      
      span{
        display:block;
        font-size:0.9em;
        font-weight:normal;
        
        &:before{
          opacity:0.3;
          font-weight:bold;
        }
        
        &.status:before{content:'status: '}
        &.info:before{content:'info: '}
      }
    }
  }

  &[open] {
    summary{
      margin-bottom:20px;
      padding-bottom:20px;
      border-bottom:1px solid rgba(black, 0.1);
    }
    
    @for $i from 1 to 50 {
      summary ~ ul li:nth-child(#{$i}) div, summary ~ ul li:nth-child(#{$i}) div:before{
        animation: sweep .5s ease-in-out normal forwards;
        animation-delay: ($i - 1) * 0.1s;
      }
      
      summary ~ ul li:nth-child(#{$i}):before{
        animation: grow .5s ease-in-out normal forwards;
        animation-delay: $i * 0.1s;
      }
    }
    
    @keyframes sweep {
      0%    {opacity: 0; margin-left:-1em; margin-right:1em;}
      100%  {opacity: 1; margin-left:0; margin-right:0;}
    }
    
    @keyframes grow {
      0%    {width: 0}
      100%  {width: 1em}
    }
  }
}
.courses-details-desc {
    padding-right: 15px;
    
}
.nav-tabset{
    background-color: white;
    .nav-tab{background-color: white;
    span{ background-color: white;}}
}
.tabs-container{
    margin-top: 60px;
    background-color: white;
}
.courses-details-info {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 12px 50px 12px;
    margin: {
        left: 15px;
        top: -248px;
    };
    .image {
        text-align: center;
        position: relative;
        cursor: pointer;

        .link-btn {
            display: block;
            width: 100%;
            height: 100%;
            z-index: 3;
            position: absolute;
            left: 0;
            top: 0;
        }
        .content {
            position: absolute;
            left: 0;
            z-index: 2;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            i {
                display: block;
                width: 60px;
                height: 60px;
                background-color: var(--mainColor);
                color: var(--whiteColor);
                border-radius: 50%;
                line-height: 60px;
                font-size: 25px;
                margin: {
                    left: auto;
                    right: auto;
                    bottom: 15px;
                };
            }
            span {
                display: inline-block;
                color: var(--whiteColor);
                border-radius: 5px;
                padding: 4px 20px;
                background-color: var(--blackColor);
                font: {
                    size: 17px;
                    weight: 700;
                };
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: var(--blackColor);
            opacity: 0.25;
        }
    }
    .info {
        margin-bottom: 0;
        list-style-type: none;
        padding: {
            left: 25px;
            right: 25px;
            top: 35px;
        };
        li {
            border-bottom: 1px solid #e5e5e7;
            color: var(--optionalColor);
            font: {
                size: 17px;
                weight: 600;
            };
            padding: {
                top: 15px;
                bottom: 14px;
            };
            span {
                font-weight: 800;
                color: var(--blackColor);
                position: relative;
                padding-left: 28px;

                i {
                    color: var(--mainColor);
                    position: absolute;
                    left: 0;
                    font-weight: normal;
                    top: -2px;
                    font-size: 20px;
                }
            }
            &.price {
                padding-bottom: 10px;
                color: var(--mainColor);
                font: {
                    size: 20px;
                    weight: 800;
                };
                span {
                    color: var(--blackColor);
                    font: {
                        size: 17px;
                        weight: 800;
                    };
                }
            }
            &:first-child {
                padding-top: 0;
            }
        }
    }
    .btn-box {
        margin-top: 35px;
        padding: {
            left: 25px;
            right: 25px;
        };
        .default-btn {
            display: block;
            padding: {
                right: 30px;
                left: 30px;
                top: 12px;
                bottom: 12px;
            };
            i {
                position: relative;
                left: 0;
                top: 2px;
                margin-right: 8px;
                line-height: 1;
                font: {
                    weight: normal;
                    size: 20px;
                };
            }
            &:not(:first-child) {
                margin-top: 15px;
                background-color: transparent;
                color: var(--blackColor);
                border: 1px solid var(--blackColor);

                &:hover {
                    color: var(--whiteColor);
                    border-color: var(--blackColor);
                }
            }
        }
    }
    .courses-share {
        text-align: center;
        margin-top: 20px;
        padding: {
            left: 25px;
            right: 25px;
        };
        .share-info {
            display: inline-block;
            position: relative;
            cursor: pointer;

            span {
                display: inline-block;
                color: var(--mainColor);
                line-height: 1;
                font: {
                    size: var(--fontSize);
                    weight: 700;
                };
                i {
                    color: var(--blackColor);
                }
            }
            .social-link {
                padding-left: 0;
                list-style-type: none;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -35px;
                opacity: 0;
                visibility: hidden;
                transition: var(--transition);
                margin-bottom: 0;

                li {
                    display: inline-block;
                    margin: {
                        right: 3px;
                        left: 3px;
                    };
                    &:last-child {
                        margin-right: 0;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        background-color: #e1e1e1;
                        font-size: 18px;
                        color: var(--blackColor);
                        position: relative;
                        border-radius: 2px;
        
                        i {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            right: 0;
                            transform: translateY(-48%);
                        }
                        &:hover {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
            }
            &:hover {
                .social-link {
                    opacity: 1;
                    visibility: visible;
                    bottom: -42px;
                }
            }
        }
    }
}
.courses-details-header {
    margin-bottom: 20px;

    .courses-title {
        p {
            font-size: 17px;
        }
    }
    .courses-meta {
        margin-top: 20px;
        
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                margin-right: 20px;
                position: relative;
                display: inline-block;
                border-right: 1px solid #eeeeee;
                font: {
                    weight: 800;
                    size: 17px;
                };
                padding: {
                    right: 20px;
                    left: 40px;
                };
                i {
                    font-size: 28px;
                    color: #cfcfcf;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                span {
                    display: block;
                    color: var(--mainColor);
                    text-transform: uppercase;
                    margin-bottom: 1px;
                    font: {
                        size: 13.5px;
                        weight: 700;
                    };
                }
                a {
                    display: inline-block;
                    color: var(--blackColor);

                    &:hover, &:focus {
                        color: var(--mainColor);
                    }
                }
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }
            }
        }
    }
    .courses-price {
        text-align: end;

        .price {
            display: inline-block;
            margin-right: 15px;
            line-height: 1;
            position: relative;
            top: -9px;
            font: {
                size: 36px;
                weight: 800;
            };
        }
        .courses-review {
            display: block;
            margin-bottom: 10px;

            .review-stars {
                display: inline-block;

                i {
                    color: #f2b827;
                    font-size: 18px;
                    display: inline-block;
                }
            }
            .reviews-total {
                position: relative;
                color: var(--optionalColor);
                position: relative;
                top: -1px;
                margin-left: 2px;
                font-weight: 700;
            }
        }
    }
}
.courses-details-image-style-two {
    border-radius: 5px;
    object-fit: cover;
    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
}
.courses-details-desc-style-two {
    margin-top: 35px;

    h3 {
        margin-bottom: 15px;
        font: {
            size: 24px;
            weight: 800;
        };
        &:not(first-child) {
            margin-top: 30px;
        }
    }
    .why-you-learn {
        margin-top: 20px;

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding-left: 15px;
            margin: {
                left: -10px;
                right: -10px;
                bottom: -12px;
            };
            li {
                flex: 0 0 50%;
                max-width: 50%;
                padding: {
                    left: 10px;
                    right: 10px;
                    bottom: 12px;
                };
                span {
                    display: block;
                    color: var(--blackColor);
                    position: relative;
                    padding-left: 22px;
                    line-height: 1.7;
                    font: {
                        weight: 500;
                    };
                    i {
                        position: absolute;
                        left: 0;
                        top: 3px;
                        color: var(--mainColor);
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .courses-curriculum {
        border: 1px solid #ffffff;
        background-color: white;
        border-radius: 5px;
        padding: 30px;
        margin: {
            top: 20px;
        };
        h3 {
            margin: {
                top: 0;
                bottom: 18px;
            };
            font: {
                size: 18px;
                weight: 800;
            };
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                display: block;

                a {
                    background-color: #ffffff;
                    color: var(--blackColor);
                    position: relative;
                    padding: {
                        left: 55px;
                        right: 30px;
                        top: 14.5px;
                        bottom: 14.5px;
                    };
                    margin: {
                        left: -30px;
                        right: -30px;
                    };
                    &::before {
                        content: "\f10b";
                        position: absolute;
                        left: 30px;
                        color: var(--mainColor);
                        top: 14px;
                        font: {
                            size: 18px;
                            family: Flaticon;
                        };
                    }
                    .courses-name {
                        font: {
                            size: 14.5px;
                            weight: 700;
                        };
                    }
                    .courses-meta {
                        text-align: end;

                        .questions {
                            display: inline-block;
                            background: #e3f1f2;
                            color: #2dbbc4;
                            text-transform: lowercase;
                            border-radius: 3px;
                            margin-right: 6px;
                            padding: 2px 10px 1.5px;
                            font: {
                                size: 14px;
                                weight: 700;
                            };
                        }
                        .duration {
                            display: inline-block;
                            background: #f7e7e8;
                            color: var(--mainColor);
                            text-transform: lowercase;
                            border-radius: 3px;
                            padding: 2px 10px 1.5px;
                            font: {
                                size: 14px;
                                weight: 700;
                            };
                        }
                        .status {
                            display: inline-block;
                            background: var(--blackColor);
                            color: var(--whiteColor);
                            border-radius: 3px;
                            margin-left: 6px;
                            padding: 2px 10px 1.5px;
                            font: {
                                size: 14px;
                                weight: 700;
                            };
                            &.locked {
                                color: var(--blackColor);
                                background-color: transparent;
                                padding: 0;
                                margin-left: 8px;
                                border-radius: 0;
                                position: relative;
                                top: 1px;
                                font: {
                                    size: 18px;
                                    weight: normal;
                                };
                            }
                        }
                    }
                    &:hover {
                        color: var(--mainColor);
                    }
                    &.locked {
                        pointer-events: none;
                        cursor: not-allowed;
                    }
                }
                &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10), &:nth-child(12), &:nth-child(14), &:nth-child(16), &:nth-child(18), &:nth-child(20), &:nth-child(22), &:nth-child(24), &:nth-child(26), &:nth-child(28), &:nth-child(30), &:nth-child(32), &:nth-child(34), &:nth-child(36), &:nth-child(38), &:nth-child(40), &:nth-child(42), &:nth-child(44), &:nth-child(46), &:nth-child(48), &:nth-child(50), &:nth-child(52), &:nth-child(54), &:nth-child(56), &:nth-child(58), &:nth-child(60), &:nth-child(62), &:nth-child(64), &:nth-child(66), &:nth-child(68), &:nth-child(70), &:nth-child(72), &:nth-child(74), &:nth-child(76), &:nth-child(78), &:nth-child(80), &:nth-child(82), &:nth-child(84), &:nth-child(86), &:nth-child(88), &:nth-child(90), &:nth-child(92), &:nth-child(94), &:nth-child(96), &:nth-child(98), &:nth-child(100) {
                    a {
                        background-color: var(--whiteColor);
                    }
                }
            }
        }
    }
    .requirements-list {
        padding-left: 15px;
        margin-bottom: 0;
        list-style-type: none;

        li {
            color: var(--optionalColor);
            margin-bottom: 10px;
            position: relative;
            padding-left: 17px;

            &::before {
                position: absolute;
                left: 0;
                content: '';
                top: 7px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: var(--blackColor);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    p {
        strong {
            color: var(--blackColor);
        }
    }
    .description-features-list {
        padding-left: 15px;
        margin-bottom: 15px;
        list-style-type: none;

        li {
            color: var(--optionalColor);
            margin-bottom: 10px;
            position: relative;
            padding-left: 17px;
            line-height: 1.8;

            &::before {
                position: absolute;
                left: 0;
                content: '';
                top: 10px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: var(--blackColor);
            }
            strong {
                color: var(--blackColor);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .audience-list {
        padding-left: 15px;
        margin-bottom: 0;
        list-style-type: none;

        li {
            color: var(--optionalColor);
            margin-bottom: 10px;
            position: relative;
            padding-left: 17px;
            line-height: 1.8;

            &::before {
                position: absolute;
                left: 0;
                content: '';
                top: 10px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: var(--blackColor);
            }
            strong {
                color: var(--blackColor);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .courses-author {
        margin-top: 20px;
        border-radius: 5px;
        background: #f8f8f8;

        .author-profile-header {
            height: 115px;
            border-radius: 5px 5px 0 0;
            background: {
                color: var(--mainColor);
                image: url(../../../../assets/img/bg.jpg);
                position: center center;
                size: cover;
                repeat: no-repeat;
            };
        }
        .author-profile {
            padding: 0 25px 25px;

            .author-profile-title {
                position: relative;
                z-index: 1;
                margin: {
                    bottom: 15px;
                    top: -45px;
                };
                img {
                    display: inline-block;
                    border: 3px solid var(--whiteColor);
                    width: 100px;
                    height: 100px;
                }
                .author-profile-title-details {
                    margin-top: 15px;

                    .author-profile-details {
                        h4 {
                            margin-bottom: 5px;
                            font: {
                                size: 22px;
                                weight: 800;
                            };
                        }
                        span {
                            color: var(--optionalColor);
                        }
                    }
                }
            }
        }
    }
    .courses-reviews {
        h3 {
            margin-bottom: 0;
            display: inline-block;
            margin-right: 15px;
            font: {
                size: 24px;
                weight: 800;
            };
        }
        .rating {
            display: inline-block;
            position: relative;
            top: 2px;
            
            span {
                font-size: 17px;
                color: #cecfd2;

                &.checked {
                    color: orange;
                }
            }
        }
        .rating-count {
            margin: {
                top: 10px;
                bottom: 20px;
            };
            span {
                display: block;
                font-size: var(--fontSize);
                color: var(--optionalColor);
            }
        }
        .row {
            overflow: hidden;
            margin: {
                left: 0;
                right: 0;
            };
        }
        .side {
            float: left;
            width: 9%;
            margin-top: 10px;

            div {
                font: {
                    size: var(--fontSize);
                    weight: 700;
                };
            }
        }
        .middle {
            margin-top: 14px;
            float: left;
            width: 82%;
        }
        .right {
            text-align: end;
        }
        .bar-container {
            width: 100%;
            background-color: black;
            text-align: center;
            color: var(--whiteColor);
            border-radius: 5px;
        }
        .bar-5 {
            width: 100%;
            height: 18px;
            background-color: #4CAF50;
            border-radius: 5px;
        }
        .bar-4 {
            width: 75%;
            height: 18px;
            background-color: #2196F3;
            border-radius: 5px;
            border-radius: 5px;
        }
        .bar-3 {
            width: 50%;
            height: 18px;
            background-color: #00bcd4;
            border-radius: 5px;
        }
        .bar-2 {
            width: 25%;
            height: 18px;
            background-color: #ff9800;
            border-radius: 5px;
        }
        .bar-1 {
            width: 0;
            height: 18px;
            background-color: #f44336;
            border-radius: 5px;
        }
    }
}
.courses-review-comments {
    margin-top: 40px;

    h3 {
        border-bottom: 1px solid #f3f3f3;
        padding-bottom: 10px;
        margin: {
            top: 0;
            bottom: 10px;
        };
    }
    .user-review {
        border-bottom: 1px solid #f3f3f3;
        padding: 20px 0 20px 110px;
        position: relative;
         animation: fadeIn 0.5s ease-in-out;

        img {
            position: absolute;
            left: 0;
            top: 20px;
            width: 90px;
            height: 90px;
            border-radius: 5px;
        }
        .sub-comment {
            margin-bottom: 8px;
            font: {
                weight: 700;
            };
        }
        .review-rating {
            display: block;
            margin-bottom: 8px;

            .review-stars {
                display: inline-block;

                i {
                    color: #cecfd2;
                    font-size: 18px;
                    display: inline-block;
                    margin-right: 2px;
    
                    &.checked {
                        color: orange;
                    }
                }
            }
            span {
                color: var(--blackColor);
                position: relative;
                top: -2px;
                font-weight: 700;
                margin-left: 5px;
            }
        }
    }
}
.related-courses {
    margin-top: 40px;

    h3 {
        margin-bottom: 20px;
        font: {
            size: 24px;
            weight: 800;
        };
    }
}
.courses-sidebar-information {
    background-color: var(--whiteColor);
    box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
    padding: 30px;
    
    .info {
        margin-bottom: 0;
        list-style-type: none;
        padding: {
            left: 0;
        };
        li {
            border-bottom: 1px dashed #eeeeee;
            color: var(--optionalColor);
            font: {
                size: 17px;
                weight: 600;
            };
            padding: {
                top: 15px;
                bottom: 13px;
            };
            span {
                font-weight: 800;
                color: var(--blackColor);
                position: relative;
                padding-left: 28px;

                i {
                    color: var(--mainColor);
                    position: absolute;
                    left: 0;
                    font-weight: normal;
                    top: -2px;
                    font-size: 20px;
                }
            }
            &.price {
                padding-bottom: 10px;
                color: var(--mainColor);
                font: {
                    size: 28px;
                    weight: 800;
                };
                span {
                    color: var(--blackColor);
                    font: {
                        size: 17px;
                        weight: 800;
                    };
                }
            }
            &:first-child {
                padding-top: 0;
            }
        }
    }
    .btn-box {
        margin-top: 35px;
        
        .default-btn {
            display: block;
            padding: {
                right: 30px;
                left: 30px;
                top: 12px;
                bottom: 12px;
            };
            i {
                position: relative;
                left: 0;
                top: 2px;
                margin-right: 8px;
                line-height: 1;
                font: {
                    weight: normal;
                    size: 20px;
                };
            }
            &:not(:first-child) {
                margin-top: 15px;
                background-color: transparent;
                color: var(--blackColor);
                border: 1px solid var(--blackColor);

                &:hover {
                    color: var(--whiteColor);
                    border-color: var(--blackColor);
                }
            }
        }
    }
    .courses-share {
        text-align: center;
        margin-top: 25px;
        
        .share-info {
            display: inline-block;
            position: relative;
            cursor: pointer;

            span {
                display: inline-block;
                color: var(--mainColor);
                line-height: 1;
                font: {
                    size: var(--fontSize);
                    weight: 700;
                };
                i {
                    color: var(--blackColor);
                }
            }
            .social-link {
                padding-left: 0;
                list-style-type: none;
                margin: {
                    bottom: 0;
                    top: 12px;
                };
                li {
                    display: inline-block;
                    margin: {
                        left: 3px;
                        right: 3px;
                    };
                    &:last-child {
                        margin-right: 0;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        background-color: #e1e1e1;
                        font-size: 18px;
                        color: var(--blackColor);
                        position: relative;
                        border-radius: 2px;
        
                        i {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            right: 0;
                            transform: translateY(-48%);
                        }
                        &:hover {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .courses-details-info {
        margin: {
            left: 0;
            top: 30px;
        };
        .image {
            .content {
                i {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                }
                span {
                    font-size: 14.5px;
                }
            }
        }
        .info {
            padding: {
                left: 10px;
                right: 10px;
                top: 30px;
            };
            li {
                font-size: 15px;
                padding: {
                    top: 13px;
                    bottom: 12px;
                };
                &.price {
                    font-size: 20px;

                    span {
                        font-size: 15px;
                    }
                }
            }
        }
        .btn-box {
            margin-top: 30px;
            padding: {
                left: 10px;
                right: 10px;
            };
        }
        .courses-share {
            padding: {
                left: 10px;
                right: 10px;
            };
            .share-info {
                span {
                    font-size: 15px;
                }
                .social-link {
                    bottom: -44px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .courses-details-header {
        .courses-title {
            p {
                font-size: 15px;
            }
        }
        .courses-meta {
            ul {
                li {
                    display: block;
                    border-right: none;
                    font-size: 14px;
                    padding-right: 0;
                    margin: {
                        bottom: 15px;
                        right: 0;
                    };
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        margin-bottom: 2px;
                        font-size: 13px;
                    }
                }
            }
        }
        .courses-price {
            text-align: start;
            margin-top: 22px;

            .courses-review {
                .review-stars {
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .courses-details-desc-style-two {
        h3 {
            margin-bottom: 12px;
            font-size: 19px;
        }
        .courses-curriculum {
            padding: 20px;
            margin: {
                left: 0;
                right: 0;
            };
            h3 {
                font-size: 16px;
                margin-bottom: 15px;
            }
            ul {
                li {
                    a {
                        display: block !important;
                        padding: {
                            left: 45px;
                            right: 20px;
                            top: 13px;
                            bottom: 13px;
                        };
                        margin: {
                            left: -20px;
                            right: -20px;
                        };
                        &::before {
                            left: 20px;
                            top: 13px;
                            font-size: 15px;
                        }
                        .courses-name {
                            font-size: 15px;
                        }
                        .courses-meta {
                            text-align: start;
                            margin-top: 5px;

                            .questions {
                                font-size: 13.5px;
                                margin-top: 7px;
                            }
                            .duration {
                                font-size: 13.5px;
                                margin-top: 7px;
                            }
                            .status {
                                font-size: 13.5px;
                                margin-top: 7px;
                            }
                        }
                    }
                }
            }
        }
        .why-you-learn {
            ul {
                li {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        .courses-author {
            .author-profile {
                .author-profile-title {
                    .author-profile-title-details {
                        .author-profile-details {
                            h4 {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .courses-reviews {
            h3 {
                font-size: 19px;
            }
            .rating {
                top: 2px;

                span {
                    font-size: 17px;
                }
            }
            .side {
                width: 20%;

                div {
                    font-size: 15px;
                }
            }
            .middle {
                width: 60%;
            }
        }
        .courses-review-comments {
            h3 {
                padding-bottom: 10px;
                font-size: 19px;
            }
            .user-review {
                padding-left: 0;

                img {
                    position: relative;
                    left: 0;
                    top: 0;
                    margin-bottom: 15px;
                }
                .review-rating {
                    span {
                        display: block !important;
                        top: 0;
                        font-size: 16px;
                        margin: {
                            left: 0;
                            top: 5px;
                        };
                    }
                }
            }
        }
    }
    .related-courses {
        h3 {
            font-size: 20px;
        }
    }
    .courses-sidebar-information {
        margin-top: 40px;
        padding: 15px;

        .info {
            li {
                font-size: 15px;
                padding: {
                    top: 13px;
                    bottom: 12px;
                };
                &.price {
                    font-size: 20px;

                    span {
                        font-size: 15px;
                    }
                }
            }
        }
        .btn-box {
            margin-top: 30px;

            .default-btn {
                i {
                    font-size: 16px;
                }
            }
        }
    }
    .courses-details-desc {
        padding-right: 0;
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .courses-details-header {
        .courses-price {
            text-align: start;
            margin-top: 25px;
        }
    }
    .courses-details-info {
        margin: {
            left: 0;
            top: 30px;
        };
    }
    .courses-details-desc-style-two {
        h3 {
            font-size: 21px;
        }
        .courses-curriculum {
            h3 {
                font-size: 17px;
            }
        }
        .courses-author {
            .author-profile {
                .author-profile-title {
                    .author-profile-title-details {
                        .author-profile-details h4 {
                            font-size: 19px;
                        }
                    }
                }
            }
        }
        .courses-reviews {
            h3 {
                font-size: 22px;
            }
        }
    }
    .related-courses {
        h3 {
            font-size: 22px;
        }
    }
    .courses-details-desc {
        padding-right: 0;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
    .courses-details-info {
        margin-left: 0;
        margin-top: -190px;

        .info {
            padding: {
                left: 15px;
                right: 15px;
            };
            li {
                font-size: 16px;

                &.price {
                    font-size: 25px;
                }
            }
        }
    }
    .courses-details-desc-style-two {
        h3 {
            font-size: 22px;
        }
        .courses-reviews {
            h3 {
                font-size: 22px;
            }
        }
    }
    .related-courses {
        h3 {
            font-size: 22px;
        }
    }
    .courses-sidebar-information {
        padding: 20px;

        .info {
            li {
                font-size: 16px;
            }
        }
    }

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}


.pane-height {
    position: relative;
}
.blur-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    background: inherit; /* Make sure it inherits the background from its parent */
    transition: filter 0.5s ease; /* Adjust the duration and easing as needed */
  }
  /* Add this to your styles */
.blur-0 {
    filter: blur(1px);
}

.blur-1 {
    filter: blur(2px);
}

.blur-2 {
    filter: blur(6px);
}

/* Add more classes as needed */

  